@model IEnumerable<CinemaWeb.Models.Bill>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/admin/wwwroot/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>

        a {
            text-decoration: none;
            color: unset;
            font-family: 'Poppins', sans-serif;
        }

        * {
            padding: 0px;
        }

        a:hover {
            color: var(--main-color);
        }

        span:hover {
            color: var(--main-color);
        }

        body {
            font-family: "Cairo", sans-serif;
            background-color: var(--body-bg);
            color: var(--text-color);
            padding-top: var(--nav-height);
        }

        h2, h2 {
            font-size: calc(1.325rem + .9vw);
            color: black;
            font-weight: 600;
        }
        table th,
        table td {
            text-align: center !important;
        }
        ol, ul {
             padding-left: 0px;
        }
        .row {
            display: flex !important;
            flex-wrap: wrap !important;
            margin: 0 -15px !important;
        }
    </style>
</head>
<body>

    <section class="content" style="margin-top:10px">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- Card Body -->
                    <div class="card-body">
                        <h2 style="margin-top:20px">Lịch sư đặt vé</h2>
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>ID</th>
                                    <th>Tên khách hàng</th>
                                    <th>ID_Bill</th>
                                    <th>Số vé</th>
                                    <th>Ngày đặt</th>
                                    <th>Tổng tiền</th>
                                    <th>Xem chi tiết vé đã đặt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var STT = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.Raw(STT++)
                                        </td>
                                        <td style="text-align: start">
                                            @Html.DisplayFor(modelItem => item.id_account)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Account.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tickets.Count)
                                        </td>
                                        <td>
                                            @item.date.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.amount)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Index", "Tickets", new { id_bill = item.id })">Xem chi tiết</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.container-fluid -->
    <!-- /.content -->
    <!-- DataTables -->
    <script src="~/Areas/admin/wwwroot/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Areas/admin/wwwroot/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

</body>

