@model IEnumerable<CinemaWeb.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


@section CSS {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/admin/wwwroot/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        table th,
        table td {
            text-align: center;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Tài khoản</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tài khoản</h3>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="input-group input-group-sm ml-auto" style="width: 185px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Email</th>
                                <th>Mật khẩu</th>
                                <th>Quyền</th>
                                <th>Reset mật khẩu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var STT = 1; }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.Raw(STT++)
                                    </td>
                                    <td style="text-align: start">
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.role)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Reset Mật Khẩu", "ResetPassword", new { id = item.id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.container-fluid -->
<!-- /.content -->

@section Scripts {
    <!-- DataTables -->
    <script src="~/Areas/admin/wwwroot/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Areas/admin/wwwroot/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <!-- page script -->
   
}