@model CinemaWeb.Models.Room

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Cập nhật rạp phim</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Trang Chủ</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageRooms")">Rạp phim</a></li>
                    <li class="breadcrumb-item active">Cập nhật rạp phim</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- /.container-fluid -->
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Thông tin rạp phim</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a>Tên rạp</a></span>
                        </div>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="content-header">
            <button type="submit" class="btn btn-warning">Lưu</button>
            <a href="@Url.Action("Index", "ManageRooms")">
                <button type="button" class="btn btn-outline-dark">Quay về</button>
            </a>
        </div>
    }
</section>
<!-- /.content -->



